mixin form-change-multi(url)
  form( 
      action=url
      id="form-change-multiple-status"
      method="POST"
  )
      .d-flex.align-items-center 
          .form-group 
              select(name='type' class="form-control" id="select-status")
                  option(value="active") Active
                  option(value="inactive") Inactive
          .form-group 
              input(
                  id="list-id-product"
                  type="text"
                  name="ids"
                  value=""
                  class="form-control d-none"
              )
          button(type="submit" class="btn btn-primary") Apply