mixin product-component(data, index)
    td 
        input(
            type="checkbox"
            checkbox-product
            data-status=data.status
            data-id=data.id
            data-name=data.title
            )
    td #{index+1}
    td 
        img(
            src=data.thumbnail
            alt=data.title
            width="100px"
            height="auto"
            )
    td #{data.title}
    td $#{data.price}
    td 
        input(
            type="number"
            value=data.position
            style="width: 60px"
            min="1"
            name="position"
        )
    td
        if(data.status == 'active') 
            a(
                href='javascript:;' 
                btn-change-status 
                data-status="active"
                data-id=data.id
                class="") Active 
        else 
            a(
                href='javascript:;' 
                btn-change-status 
                data-status="inactive" 
                data-id=data.id
                class="text-danger") Inactive                                
    td
        a(class="btn btn-warning btn-sm" href=`${prefixAdmin}/products/edit/${data.id}`) Edit                      
        button(
            delete-button
            class="btn btn-danger btn-sm"
            data-id=data.id
            ) Delete 