mixin trash-product-component(data, index)
    td 
        input(
            type="checkbox"
            checkbox-product
            data-status=data.status
            data-id=data.id
            data-name=data.title
            name=""
            )
    td #{index+1}
    td 
        img(
            src=data.thumbnail
            alt=data.title
            width="100px"
            height="auto"
            )
    td #{data.title}
    td #{data.price}                             
    td
        button(
            recover-button
            class="btn btn-success btn-sm"
            data-id=data.id
            ) 
            .d-flex.align-items-center.gap-2
                div Recover
                svg.bi.bi-arrow-clockwise(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                    path(fill-rule='evenodd' d='M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z')
                    path(d='M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466')


        button(
            class="btn btn-secondary-emphasis btn-sm"
            delete-permanently 
            data-id=data.id
            ) 
            svg.bi.bi-trash-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                path(d='M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0')
                      
        