extends ../../layout/_default-layout.pug
include ../../mixins/notification-component.mixin.pug

block main  
  h1(class="mb-4")=title
  +alert-error(messages.error)
  
  form(
    action=`${prefixAdmin}/products/create`
    method="POST"
    enctype="multipart/form-data"
    id="form-create-product"
  )
    div(class="form-group mb-2")
      label(for="title") Title 
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        
      )
    div(class="form-group mb-2")
      label(for="desc") Description 
      textarea(
        class="form-control"
        id="desc"
        name="description"
        rows="5"
        
      ) 
    div(class="form-group mb-2")
      label(for="price") Price 
      input(
        type="number"
        class="form-control"
        id="price"
        name="price"
        value="0"
        min="0"
        
      )

    div(class="form-group mb-2")
      label(for="discount") % Discount
      input(
        type="number"
        class="form-control"
        id="discount"
        name="discountPercentage"
        value="0"
        min="0"
        
      )

    div(class="form-group mb-2")
      label(for="stock") Stock
      input(
        type="number"
        class="form-control"
        id="stock"
        name="stock"
        value="0"
        min="0"
        
      )

    div(class="form-group mb-2" upload-preview-image-component)
      label(for="thumbnail") Image
      input(
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
        upload-preview-image
      ) 
      div(class="d-none position-relative" id="img-preview" wrap-preview-image)
        image(src="" class="" width="100%" height="100%"  preview-image)
        div(class="position-absolute top-0 start-100 translate-middle cursor-pointer" button-clear-image-preview)
          svg.bi.bi-x-circle-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#0b5ed7' viewbox='0 0 16 16')
            path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z')


    div(class="form-group mb-2")
      label(for="position") Position
      input(
        type="number"
        class="form-control"
        id="position"
        name="position"
        placeholder="Auto increase"
        min="1"
      )
    div(class="form-group mb-2 form-check form-check-inline")
      input(
        type="radio"
        id="statusActive"
        name="status"
        value="active"
        checked  
      )
      label(for="statusActive" class="form-check-label") Active 
    div(class="form-group mb-2 form-check form-check-inline")
      input(
        type="radio"
        id="statusInactive"
        name="status"
        value="inactive"
        checked  
      )
      label(for="statusInactive" class="form-check-label") Inactive 

    div(class="form-group")
      button(type="submit" class="btn btn-primary") Create new




