extends ../../layout/_default-layout.pug
include ../../mixins/product-component.mixin.pug
include ../../mixins/form-search.mixin.pug
include ../../mixins/form-change-multi.mixin.pug
include ../../mixins/notification-component.mixin.pug


block main 
    +alert-component(messages.success)
    
    h1=title
    
    .card.mb-3 
        .card-header Filter and Search
        .card-body.d-flex.justify-content-between
            .d-flex.col-8.gap-2
                .btn-group
                button.btn.btn-success.dropdown-toggle(type='button' id="filter-btn" data-bs-toggle='dropdown' aria-expanded='false') Filter by: #{currentStatus}
                ul.dropdown-menu
                    li
                        button(class="dropdown-item" active-status="") All
                    li
                        button(class="dropdown-item" active-status="active") Active
                    li
                        button(class="dropdown-item" active-status="inactive") Inactive
                .btn.btn-warning(id="btn-clear-filter") Clear
            .col-4
                +form-search(textSearch)
                
    .card.mb-3 
        .card-header Filter and Search
        .card-body
            .d-flex.align-items-center.justify-content-between
                +form-change-multi(`${prefixAdmin}/products/change-multiple-status?_method=PATCH`)
                select(
                    id="sort-by-position"
                )
                    option(value="desc" selected=textSortBy==='desc') Position: desc 
                    option(value="asc" selected=textSortBy==='asc') Position: asc 
                
            table.table.table-hover.table-sm 
                thead 
                    tr 
                        th 
                            input(
                                type="checkbox"
                                id="checkbox-all"
                                )
                        th STT
                        th Image
                        th Title
                        th Price
                        th Position
                        th Status 
                        th Action
                tbody 

                if (products.length > 0)
                    each item,index in products
                        tr 
                            +product-component(item,skipIndex+index)
                else
                    tr
                        p No data founded

    nav
        ul.pagination
            li(class="page-item")
                button(class="page-link" btn-pagination="prev" currentPage=currentPage) Previous

            - for (let i = 0; i < totalPage; i++)
                - const isActive = (currentPage - 1) == i ? 'active' : '' 
                li(class=`page-item ${isActive}` data-page=i+1)
                    button(class="page-link") #{i+1}

            li(class="page-item")
                button(class="page-link" btn-pagination="next" currentPage=currentPage totalPage=totalPage) Next

   
                
    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`
    )

    form(
        action=""
        method="POST"
        id="form-delete-product"
        data-path=`${prefixAdmin}/products/delete-product`
    )